@page
@model IndexModel
@inject FogelFormedlingenAB.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<h1>DU HAR FÅGEL</h1>
<h2>Welcome, @accessControl.LoggedInAccountName!</h2>
