@page
@model IndexModel
@inject FogelFormedlingenAB.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-6">DU HAR FÅGEL</h1>

<h2>Welcome, @accessControl.LoggedInAccountName!</h2>
